*{
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --blueprop: rgb(0, 146, 146);
    --blackprop: rgb(66, 66, 66);
    
}

header{
    width: 100%;
    display: flex;
    background-color: var(--blackprop);
    height: 100px;
}

header h1{
    font-size: 250%;
    display: flex;
    width: 20%;
    height: 6%;
    margin-top: 20px ;
    justify-content: end;
    padding-right: 1%;
    position: absolute;
    background-color: var(--blueprop);
    color: var(--blackprop);
    
}

header nav{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

header ul{
    display: flex;
    flex-direction: row;
    font-size: 200%;
}

header li{
    padding-right: 50px;
}

header a{
    color: var(--blueprop);
}

section{
    display: flex;
}

section a{
    color: var(--blackprop);
}

section h1{
    width: 18%;
    height: auto;
    margin: 1%;
    padding: 1%;
    text-align: end;
    font-size: 250%;
    border-right: solid var(--blueprop);
    color: var(--blueprop);
}

section p{
    padding: 1% 0 1% 0;
    font-size: 120%;
    width: 80%;
}

section section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section figure{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    border: solid var(--blueprop);
    filter: blur(3px) ;
}

section figcaption{
    background-color: var(--blueprop);
    width: 200px;
    height: 50px;
    padding: 0 30px 0 0;
    margin-bottom: 30px;
}

footer{
    display: flex;
}

footer h1{
    width: 15.35%;
    height: auto;
    margin: 1%;
    padding: 1%;
    text-align: end;
    font-size: 250%;
    border-right: solid var(--blueprop);
    color: var(--blueprop);
}

footer nav{
    padding: 1% 0 1% 0;
    font-size: 120%;
    width: 70%;
    margin: 1%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul{
    display: flex;
    flex-direction: row;
    font-size: 200%;
}

footer li{
    padding: 20px;
}

footer a{
    color: var(--blueprop);
}

.blur{
    transition: all 0.5s ease-in-out;
}

.blur:hover{
    filter: blur(0);
}

#backdrop{
    display: flex;
    width: 100%;
    height: 200px;
    background-image: url(../Images/background.jpg);
    justify-content: flex-end;
    align-items: flex-end;
}

#backdrop-cap{
    width: 300px;
    height: auto;
    margin: 25px;
    position: absolute;
    text-align: center;
    font-size: 150%;
    background-color: var(--blackprop);
    color: white;
    border-radius: 10px;
}

#Surf{
    background-image: url(../Images/Waves.jpg);
    width: 82%;
    height: 500px;
    margin: 1%;
}

#shelfscan{
    background-image: url(../Images/LED.jpg);
    width: 40%;
    height: 200px;
    margin: 1%;
}

#Calculator{
    background-image: url(../Images/Calculator.jpg);
    width: 40%;
    height: 200px;
    margin: 1%;
}

#Puzzel{
    background-image: url(../Images/Puzzel.jpg);
    width: 40%;
    height: 200px;
    margin: 1%;
}

#Run{
    background-image: url(../Images/Run.jpg);
    width: 40%;
    height: 200px;
    margin: 1%;
}

@media screen and (max-width: 992px){
    header{
        display: block;
    }
    header h1{
        display: block;
        position: relative;
        width: 100%;
        height: 50%;
        margin: 0;
        text-align: center;
    }
    header nav{
        align-items: center;
    }
    section {
        display: block;
        width: 100%;       
    }
    section h1{
        width: 100%;
        border-right: transparent;
        border-bottom: solid var(--blueprop);
        text-align: start;
    }
    section p{
        width: 100%;
    }
    footer{
        display: block;
    }
    footer h1{
        width: 100%;
        border-bottom: solid var(--blueprop);
        border-right: transparent;
        text-align: start;
    }
    footer nav{
        width: 100%;
    }    
    #Surf{
        width: 100%;
    }
    #LED{
        width: 48%;
    }
    #Calculator{
        width: 48%;
    }
    #Puzzel{
        width: 48%;
    }
    #Run{
        width: 48%;
    }
}

@media screen and (max-width: 768px){
    header nav{
        font-size: 100%;
    }
    #backdrop{
        justify-content: center;
    }
    #Surf{
        width: 100%;
        height: 200px;
    }
    #LED{
        width: 100%;
    }
    #Calculator{
        width: 100%;
    }
    #Puzzel{
        width: 100%;
    }
    #Run{
        width: 100%;
    }
    footer nav{
        justify-content: left;
    }
    footer ul{
        display: block;
        text-align: left;
    }
}